<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11788226896-vc8upd7furu7fhfcorf02bm2h639njfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11788226896-vc8upd7furu7fhfcorf02bm2h639njfr</string>
	<key>API_KEY</key>
	<string>AIzaSyDOp5Ss7imfxtM2R9Onqa_xj8dibSIE4ig</string>
	<key>GCM_SENDER_ID</key>
	<string>11788226896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.refurbsy</string>
	<key>PROJECT_ID</key>
	<string>refurbsy-d9701</string>
	<key>STORAGE_BUCKET</key>
	<string>refurbsy-d9701.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11788226896:ios:6b4b563ea751f032465c55</string>
</dict>
</plist>